#!/bin/sh
# Copyright 2021 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPLv3

case "$1" in
    build)
    ;;

    package)
        cp -R wazo_onboarding ${pkgdir}/usr/src/wazo_onboarding
        cp setup.py ${pkgdir}/usr/src/

    ;;

    install)
        cd /usr/src
        python3 setup.py install
    ;;

    uninstall)
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
